@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Create Account</h3></div>
                    <div class="card-body">
                        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1" asp-for="Input.FirstName"></label>
                                        <input class="form-control py-4" asp-for="Input.FirstName" placeholder="Enter first name">
                                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1" asp-for="Input.LastName"></label>
                                        <input class="form-control py-4" asp-for="Input.LastName" placeholder="Enter last name">
                                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="small mb-1" asp-for="Input.Email" ></label>
                                <input class="form-control py-4" asp-for="Input.Email" aria-describedby="emailHelp" placeholder="Enter email address">
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1" asp-for="Input.Password"></label>
                                        <input class="form-control py-4" asp-for="Input.Password" placeholder="Enter password">
                                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1" asp-for="Input.ConfirmPassword"></label>
                                        <input class="form-control py-4" asp-for="Input.ConfirmPassword" placeholder="Confirm password">
                                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mt-4 mb-0">
                                <button type="submit" class="btn btn-primary btn-block">Create Account</button></div>
                        </form>
                    </div>
                    <div class="card-footer text-center">
                        <div class="small"><a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Have an account? Go to login</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
